@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title-h1 {
  @apply font-poppins text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-black text-mine-shaft;
}

.title-h2 {
  @apply font-poppins text-2xl sm:text-3xl md:text-4xl lg:text-6xl font-black text-mine-shaft;
}

.title-h3 {
  @apply font-poppins text-lg sm:text-xl md:text-2xl font-bold text-mine-shaft;
}

.title-h4 {
  @apply font-poppins text-lg font-bold text-mine-shaft;
}

.text-main {
  @apply font-poppins text-base md:text-lg font-normal text-mine-shaft;
}

.bg-im {
  background: linear-gradient(175deg, #709dca 70%, #00B3FA 25%, #ffffff 30%);
}

.carousel-bg:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
} 


